body, td, th {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: inherit;
    }
.zentriert {
    font-size: 12px;
    }
input, select {
    padding: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    }
textarea {
    padding: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    }
    
.rechtsbuendig {
    font-size: 12px;
    }
.SubmitBtn {
    font-size: 12px;
    }
.version {
    color: #666666;
    position: relative;
    left: 2px;
    top: 2px;
    font-size: 12px;
    } 
body {color:#000; background:#fff; font:100%/1.5 arial,sans-serif;}
    h2 {margin-top:0}
    
    /* Styling applied to classes only */
    /* Pop-up content shifted off-screen when not in view.
    Still readable by screen-reader software.
    When targeted it fills the browser window.
    */
.pop-up {position:absolute; top:0; left:-500em;}
    .pop-up:target {position:static; left:0;}
    /* The pop-up itself */
.popBox {
    background:#ffffff;
    /* alternatively fixed width / height and negative margins from 50% */
    position:absolute; left:30%; right:30%; top:30%; bottom:30%;
    z-index:10;
    border:1px solid #3a3a3a;
    /* CSS3 where available: rounded corners, drop-shadow, and fade in. */
    border-radius:.25rem;
    box-shadow:0 .5rem .5rem rgba(0,0,0,.5);
    opacity:0;
    transition: opacity 0.8s ease-out;
    }
    
:target .popBox {position:fixed; opacity:1;}
    /* Light box properties */
.lightbox {
    display:none;
    text-indent:-200em;
    background-color:rgba(0,0,0,.4);
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:5;
    }
:target .lightbox {display:block;}
    /* The pop-ups close link, moved via CSS to the top right of the pop-up */
.close:link, .close:visited {
    position: absolute;
    top: -0.75em;
    right: -0.75em;
    display: block;
    width: 2em;
    height: 2em;
    line-height: 1.8;
    padding: 0;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 .5rem .5rem rba(0,0,0,.5);
    }
.close:before {content:"X";}
.close:hover,
.close:active,
.close:focus {
    box-shadow: 0 0 .5rem .5rem rba(255,0,0,.5);
    background-color: #c00;
    color: #fff;
    }
.close span {
    text-indent: -200em;
    display: block;
    }
    /* The pop-up content div will scroll if it has too much content */
.popScroll {
    position:absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    overflow-y: auto;
    *overflow-y: scroll;
    padding-right: 0.5em;
    }
.popScroll h2 {margin-top:0}