*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

form, label, input, button{
    margin: 10px;
}

ul{
    list-style: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(248, 249, 250);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(185, 185, 185);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

.wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color:rgb(248, 249, 250);
}

.wrapper > div{
    padding: 5px;
    float: left;
    overflow-y: scroll;
    align-items: stretch;
}

.right{
    float: right;
}

.left{
    float: left;
}

#mainMenu{
    padding: 0 !important;
    width: 10%;
    min-width: 200px;
    max-width: 200px;
    overflow: hidden;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #85baff 100%);
    transition: all 0.5s
}

#mainMenu > .btn{
    height: 70px;
    border: none;
    font-size: 15px;
    margin-bottom: -8.5px;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #85baff 100%);
    width: 200px;
    transition: all 0.5s
}

#mainMenu > .btn:hover, #mainMenu > .btn:focus{
    box-shadow: none;
}

#mainMenu > .btn span {
    white-space:normal !important;
    display: inline-block;
    position: relative;
    transition: all 0.5s
}

#mainMenu > .btn span:after {
    white-space:normal !important;
    content: '\00bb';
    font-size: 16px;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: all 0.5s
}

#mainMenu > .btn:hover span {
    white-space:normal !important;
    padding-right: 20px;
}

#mainMenu > .btn:hover span:after {
    opacity: 1;
    right: 0;
}

#mainMenu > .btn:active, #mainMenu > .btn:focus, #mainMenu > .active {
    background-color:rgb(248, 249, 250) !important;
    background-image: linear-gradient(to right, #f8f9fa 0%, #f8f9fa 51%, #f8f9fa 100%);
}

#mainMenu > button > i{
    position: relative;
    top: 5px;
    left: 0px;
    display: inline-block !important;
}

#mainMenu > button > span{
    position: relative;
    top: 5px;
    left: 10px;
}

.btn{
    white-space:normal !important;
    max-width:200px;
}

#menuExt{
    left: 0px;
    width: 20%;
    height: 100%;
    min-width: 170px;
    max-width: 170px;
}

#menuExt, .formOptions{
    padding: 0 !important;
    display: none;
}

#toggleExt{
    width: 20px;
    height: 100%;
    background-color: #c2e9fb;
    overflow: hidden;
    text-align: center;
    border-right: 1px solid black;
}

#toggleExt > i {
    position:relative;
    top: calc(20% - 10px);
}

.wrapper > div, .formBlock{
    text-align: left;
    border-bottom: 1px solid black !important;
}

.formBlock > button{
    border-radius: 0;
    border-bottom: 1px solid black !important;
}

.formBlock > .btn:hover{
    background-color: #c2e9fb !important;
    border-bottom: 1px double black;
}

.formBlock > .btn:active, .formBlock > .btn:focus, .formBlock > .active {
    background-color: #85baff !important;
    border-bottom: 1px double black;
}

#content{
    flex: 2;
}
